<form id='create_event' action='/events/create' method="post">
  <br>
  <br>
  
  <h5 id='date_title'> Date:<h5>
  <input id='date' type="text" placeholder="yyyy/mm/dd" name="date">
  
  <h5 id='event_title'>Your event:</h5>
  <input id='title' type='text' placeholder="Title" name="title">
  
  <h5 id='name_title'>Your organization:</h5>
  <input id='name' type="text" placeholder="Name" name="name">
  
  <br>
  <br>
  
  <input type="submit" value="Create">
</form>


