<form id='create_event' action='/events/create' method="post">
      <br>
      <br>
      <h5 id='date_title'> Date:<h5>
      <input id='date' type="text" placeholder="yyyy/mm/dd" name="date">
      <div class="error" id='error_date' style="display: none;">&#x2713;</div>
      <h5 id='event_title'>Your event:</h5>
      <input id='title' type='text' placeholder="Title" name="title">
      <div class="check" id='error_title' style="display: none;">&#x2713;</div>
      <h5 id='name_title'>Your organization:</h5>
      <input id='name' type="text" placeholder="Name" name="name">
      <div class="check" id='error_organizer' style="display: none;">&#x2713;</div>
      <br>
      <br>
      <input type="submit" value="Create">
    </form>


